:root {
    --bg-light: #F4F6F6;
    --primary: #0A4A81;
    --text-light: #FFFFFF;
    --text-muted: #CCC;
    --shadow-strong: 0 30px 100px rgba(0, 0, 0, 0.45);
    --gap: 1rem;
  }
  
  .container {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
    background: var(--bg-light);
  }
  
  .container_login {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    width: 90%;
    max-width: 800px;
    aspect-ratio: 5/3;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: var(--shadow-strong);
    border: 1px solid #ffffff;
  }
  
  .container_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FFF;
  }
  
  .container_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    background: var(--primary);
    color: var(--text-light);
  }
  
  .container_content_title {
    display: flex;
    gap: var(--gap);
    margin-bottom: var(--gap);
    text-align: start;
    border-bottom: 1px solid var(--text-light);
    padding-bottom: 0.5rem;
  }
  .container_content_title h1 {
    margin: 0;
    font-size: 3.5rem;
    font-weight: 600;
  }
  .container_content_title p {
    margin: 0.5rem 0 0;
    font-weight: 300;
    font-size: 0.9rem;
    color: var(--text-muted);
  }
  
  .form {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    width: 100%;
  }
  
  .form label {
    font-weight: 300;
  }
  
  .form input,
  .form button {
    width: 100%;
  }
  
  input {
    transition: box-shadow 0.3s ease;
  }
  input:focus {
    box-shadow: 0 0 0 2px rgb(255, 255, 255);
  }

  @media (max-width: 600px) {
    .container_login {
      grid-template-columns: 1fr;
      aspect-ratio: auto;
      max-width: 100%;
      margin: var(--gap);
    }
  
    .container_content_title h1 {
      font-size: 2rem;
    }
    .container_content_title p{
        font-size: 0.7rem;
    }
  }
  