/* DetailsCases.module.css */
.container {
    padding: 2rem; 
    font-family: sans-serif; }

.header { 
    display: flex; 
    justify-content: space-between; 
}
.title{
color: #0A4A81;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.tabs { 
    display: flex; 
    gap: 1rem; 
    margin-top: 1rem; 
    color: #0A4A81
}

.active { 
  color: #0A4A81;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }

.body { 
    display: flex; 
    gap: 2rem; 
    margin-top: 2rem;
    background-color: var(--body-bg, #fff);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.left, .right { 
    flex: 1; 
}
.footer { 
    display: flex; 
    justify-content: space-between; 
    margin-top: 2rem; 
}



.ArrowRight{
     margin-top: 20px;
    margin-left: 900px;
   background-color: #fff;
}

.ArrowLeft, .ArrowRight{
    margin-top: 30px;
     display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  /* Adicione altura e largura para manter o alinhamento */
  width: 40px;
  height: 40px;
   background-color: #0A4A81;
    padding: 10px;
    color: #fff;
}


.button{
    border-radius: 5px;
background: #0A4A81;
color: #fff;
padding: 5px
}