.stepContainer {
  padding: 2rem;
  font-family: sans-serif;
  background-color: var(--body-bg, #000) ;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}

.header {
  margin-bottom: 1rem;
}

.title {
  color: var(--title-color, #0A4A81);
  font-family: 'Inter', sans-serif;
  font-size: 32px;
  font-weight: 400;
  line-height: normal;
}

.body {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
  background-color: var(--body-bg, #fff);

}

/* Colunas esquerda e direita */
.left, .right {
  flex: 1;
  background-color: var(--body-bg, #fff);
}

/* Ajuste mapa */
.mapa {
  width: 100%;
  max-width: 900px;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 1rem;
}

/* Imagens dos diagramas */
.cardImageBody {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 100%;
  height: auto;
  width: 268px;
  height: 341px;
}

.cardImageTooth {
  display: block;
  margin: 20px auto 0 auto;
  max-width: 100%;
  height: auto;
  width: 348px;
  height: 267px;
}

/* Responsividade */
@media (max-width: 900px) {
  .body {
    flex-direction: column;
  }

  .cardImageBody, .cardImageTooth {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
  }

  .mapa {
    width: 100%;
    height: 250px;
  }
}

@media (max-width: 480px) {
  .title {
    font-size: 24px;
    text-align: center;
  }

  .cardImageBody, .cardImageTooth {
    width: 100%;
  }
}
