.container_form {
    display: flex;
}

.dashboard {
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
}