.title{
    /* sm:text-[2rem] */
    display: flex;
    color: #0A4A81;
    font-family: Inter;
    font-size: 1.5rem;
    font-style: normal;
    font-weight:600;
    line-height: normal;
    margin-bottom: 1.5rem;
    align-items: left !important;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #0A4A81;
    width: 99.34px;
    height: 34.671px;
    font-family: Inter;
    font-size: 13px;
    color: white;
}

.text_link{
    color: #0A4A81;
    font-family: Inter;
    text-decoration: underline;
    font-weight: 700;

}

.user_container{
    display: grid;
    grid-template-columns: 48ch auto;
}

.user_box{
    text-align: end;
    width: 394px;
    height: 220px;
    padding:2rem 1rem;
    gap: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 15px;
    box-shadow: 0px 101px 28px 0px rgba(0, 0, 0, 0.00), 0px 65px 26px 0px rgba(0, 0, 0, 0.01), 0px 36px 22px 0px rgba(0, 0, 0, 0.05), 0px 16px 16px 0px rgba(0, 0, 0, 0.09), 0px 4px 9px 0px rgba(0, 0, 0, 0.10);
}

.user_box p{
    position: relative;
    right: 51px;
    top: 21px;
    font-weight: 500;
    font-size: 18px;
    font-family: Inter;
}

.user_box small{
    position: relative;
    right: 69px;
    top: 21px;
    font-weight: 500;
    font-size: 14px;
    font-family: Inter;
    color: #717171;
}

.user_box img{
    position: relative;
    bottom: 80px;
    border-radius: 52px;
}

.role{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    top: -67px;
    padding: 1;
    gap: 2;
    width: 100px;
    border-radius:0.5rem ;
    background: linear-gradient(to top, #072f52, #0A4A81);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    font-size: 13px;
    color: white;
}

.trash{
    display: flex;
    position: relative;
    top: 80px;
    justify-content:flex-end;
}
